@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
<div class="row">
        <div class="col-md-12">
            <h2>Admin Home Page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADVideo")" class="btn btn-primary btn-lg btn-block">Videos</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADTag")" class="btn btn-primary btn-lg btn-block">Tags</a>
        </div>
        <div class="col-md-3">
             <a href="@Url.Action("Index", "ADGenre")" class="btn btn-primary btn-lg btn-block">Genres</a> 
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADCountry")" class="btn btn-primary btn-lg btn-block">Countries</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADUser")" class="btn btn-primary btn-lg btn-block">Users</a>
        </div>
       @*  <div class="col-md-3">
            <a href="@Url.Action("Index", "ADRole")" class="btn btn-primary btn-lg btn-block">Roles</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADPermission")" class="btn btn-primary btn-lg btn-block">Permissions</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ADUserRole")" class="btn btn-primary btn-lg btn-block">User Roles</a>
        </div> *@
    </div>
</div>
